artifacts
cache
deployments
node_modules
coverage
coverage.json
typechain

# Hardhat cache
cache/

# Compiled contracts
contracts/compile/

# Coverage reports
coverage/

# Local Hardhat network
network/

# Generated TypeScript typings
typechain/

# Node.js dependencies
node_modules/

# Hardhat configuration file
hardhat.config.ts

.DS_Store
.env